<div id="main">
    <h1>About</h1> 
    
    <div class="about-section"> 
        <input type="checkbox" id="skills-toggle" class="toggle-checkbox">
        <label for="skills-toggle" class="toggle-label">My skills</label>
        <div class="toggle-content">
            {{#each about.skills}}
                <div class="skills-item">
                    <h3 class="sname-border">{{sname}}</h3>
                    <div>{{stype}}</div>
                    <p>{{sdesc}}</p>
                </div>
            {{/each}}
        </div>
    </div> 

    <div class="about-section"> 
        <input type="checkbox" id="education-toggle" class="toggle-checkbox">
        <label for="education-toggle" class="toggle-label">My education</label>
        <div class="toggle-content">
            {{#each about.courses}}
                <div class="education-item">
                    <h3 class="cname-border">{{cname}}</h3>
                    <div>{{ccredits}}</div>
                    <p>{{cdesc}}</p>
                </div>
            {{/each}}
        </div>
    </div> 

    <div class="about-section"> 
        <input type="checkbox" id="work-experience-toggle" class="toggle-checkbox">
        <label for="work-experience-toggle" class="toggle-label">My work experience</label>
        <div class="toggle-content">
            {{#each about.workExperience}}
                <div class="workExperience-item">
                    <div class="wyear-border">{{wyear}}</div>
                    <div>{{wposition}}</div>
                    <div>{{wcompany}}</div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
