<div class="project-info">
    <div>
        <h1 class="project-name">{{project.pname}}</h1>
        <img class="project-image" src="{{project.pimgURL}}" alt="{{project.pname}}">
        <p class="project-desc">{{project.pdesc}}</p>
        <p class="project-year">Year: {{project.pyear}}</p>
    </div>
</div>
