<div id="main">
    <div>
        <h1>{{project.pname}}</h1>
        <img src="{{project.pimgURL}}" alt="{{project.pname}}">
        <p>{{project.pdesc}}</p>
        <p>Year: {{project.pyear}}</p>
    </div>
</div>
